body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #1b1b1b; /* Dark gray background */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(217, 172, 7, 0.1);
}

.title-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    color: #dbdb34;
    background-color: #2c3e50; /* Dark blue background */
}

.picture-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    color: #fff;
    font-size: 18px;
}

h1 {
    background-color: #2c3e50; /* Dark blue background */
    padding: 10px;
    border-radius: 8px;
}

menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

#login-btn,
#mainpage-btn,
#instructions-btn {
    padding: 12px;
    background-color: #ff4500; /* Orange background */
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-right: 10px;
}

#login-btn:hover {
    color: #ff4500; /* Orange text */
    background-color: #333333;
}

#mainpage-btn:hover {
    color: #ff4500; /* Orange text */
    background-color: #333333;
}

#instructions-btn:hover {
    color: #ff4500; /* Orange text */
    background-color: #333333;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    border-radius: 8px;
    padding: 10px;
}

a:hover {
    color: #ecf0f1;
}

main {
    background: linear-gradient(to bottom, #4caf50, #2980b9); /* Gradient from green to blue */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 100px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

p {
    background-color: #2c3e50; /* Dark blue background */
    padding: 10px;
    border-radius: 8px;
    color: #dbdb34;
}

label {
    margin-bottom: 8px;
    display: block;
    color: #3498db;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #ff4500; /* Orange background */
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background-color: #333333;
    color: #ff4500; /* Orange text */
}

h2 {
    color: #ecf0f1;
    font-size: 24px;
    margin: 20px 0;
    background-color: #2c3e50; /* Dark blue background */
    padding: 10px;
    border-radius: 8px;
    color: #dbdb34;
}

.picture-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(168, 10, 10, 0.1);
    margin-bottom: 20px;
}

img {
    background-color: #2c3e50; /* Dark blue background */
    padding: 10px;
    border-radius: 8px;
}   



footer {
    background-color: #2c3e50; /* Dark blue background */
    color: #dbdb34;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #ff4500;
    text-decoration: none;
}

a:hover {
    color: #000000;
}
