/* Reset styles */
body, h1, h2, p, form, main, section {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Header styles */
header {
    background-color: #1b1b1b;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(217, 172, 7, 0.1);
}

.title-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    color: #dbdb34;
    background-color: #2c3e50;
}

.picture-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    color: #fff;
    font-size: 18px;
}

h1 {
    background-color: #2c3e50;
    padding: 10px;
    border-radius: 8px;
}

menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

#login-btn,
#mainpage-btn,
#instructions-btn {
    padding: 12px;
    background-color: #ff4500;
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-right: 10px;
}

#login-btn:hover,
#mainpage-btn:hover,
#instructions-btn:hover {
    color: #ff4500;
    background-color: #333333;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    border-radius: 8px;
    padding: 10px;
}

a:hover {
    color: #ecf0f1;
}

/* Main and Section styles */
main {
    background: linear-gradient(to bottom, #4caf50, #2980b9); /* Gradient from green to blue */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
}


.players,
.pets,
h2,
.cases,
.button {
    margin-bottom: 20px;
}

.notification,
ol {
    list-style: none;
    padding: 0;
}

.notification li {
    margin-bottom: 5px;
}

.picture-box img {
    max-width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    background-color: #2c3e50; /* Dark blue background */
    color: #dbdb34;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a {
    color: #ff4500;
}

/* Section styles */
section {
    background: linear-gradient(to bottom, #4caf50, #2980b9);
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
    padding-bottom: 100px;
}

.cases {
    margin-bottom: 20px;
}

.case-chosen {
    font-size: 18px;
    font-weight: bold;
}

/* Button styles */
button {
    padding: 12px;
    background-color: #ff4500;
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    color: #ff4500;
    background-color: #333333;
}
