
body {
    background: #2c3e50;
}

body, h1, h2, p, form, main, section {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #1b1b1b;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(217, 172, 7, 0.1);
}

.username {
    background-color: #2c3e50;
    border-radius: 8px;
    margin: 0;
    padding: 16px 24px;
    color: #dbdb34;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-align: center;
}

.title-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    color: #dbdb34;
    background-color: #2c3e50;
}

.picture-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    color: #fff;
    font-size: 18px;
}

h1 {
    background-color: #2c3e50;
    padding: 16px 24px;
    border-radius: 8px;
}

menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

#login-btn,
#mainpage-btn,
#instructions-btn {
    padding: 12px;
    background-color: #ff4500;
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-right: 10px;
}

#login-btn:hover,
#mainpage-btn:hover,
#instructions-btn:hover {
    color: #ff4500;
    background-color: #333333;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    border-radius: 8px;
    padding: 10px;
}

a:hover {
    color: #ecf0f1;
}

main {
    background: linear-gradient(to bottom, #4caf50, #2980b9);
    padding: 120px 36px ;
    display: flex;
    justify-content: space-between;
}

main div {
    display: flex;
}

.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.main-contents {
    display: flex;
    margin: auto;
    max-width: 1022px;
    column-gap: 32px;
}

.users-pet {
    background-color: #2c3e50;
    border-radius: 8px;
    margin: auto;
    padding: 16px 24px;
    color: #dbdb34;
}

.rarest-pet {
    background-color: #2c3e50;
    border-radius: 8px;
    margin: auto;
    padding: 16px 24px;
    color: #dbdb34;
}

.player-name {
    color: black;
}



.players,
.pets,
h2,
.cases,
.button {
    margin-bottom: 20px;
}

h2 {
    background-color: #2c3e50;
    border-radius: 8px;
    margin: 0;
    padding: 16px 24px;
    color: #dbdb34;
}

.notification li {
    margin-bottom: 5px;
}

.notification-wrapper {
    padding: 16px;
    border: 3px solid black;
    text-align: left;

}

.picture-box img {
    max-width: 100%;
    height: auto;
}

.number-of-cases-announcment {
    background-color: #2c3e50;
    border-radius: 8px;
    margin: 0;
    padding: 16px 24px;
    color: #dbdb34;
}


img {
    background-color: #2c3e50;
    border-radius: 2px;
    margin: 10px;
    padding: 8px 12px;
}

footer {
    background-color: #2c3e50;
    color: #dbdb34;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a {
    color: #ff4500;
}

section {
    background: linear-gradient(to bottom, #4caf50, #2980b9);
    padding: 20px;
    background-color: #f1f1f1;
    padding-bottom: 100px;
}

.pop-up-logo {
    display: flex;
    align-items: right;
    justify-content: right;
}

.POP-UP-SLIDER {
    display: flex;
    align-items: center;
    justify-content: center;
}


.cases {
    margin-bottom: 20px;
}

.case-chosen {
    font-size: 24px;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    color: #dbdb34;
    background-color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin: 48px auto 48px;
    display: block
}

button {
    padding: 12px;
    background-color: #ff4500;
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.spin-again {
    margin: 48px auto 48px;
    display: block;
}

button:hover {
    color: #ff4500;
    background-color: #333333;
}

section {
    transition: transform 1s ease;
}
section:hover {
    transform: translateY(-200px);
}